<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-8 col-lg-6 offset-sm-2 offset-lg-3 card-box-main">
      <div class="row">
        <div class="col-sm-12 reg-box-header card-box-header text-center">
          <h2>Admin Reset Password</h2>
          <span class="subtitle">Please choose a new password for your account.</span>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-12 card-box-main-content">
          <app-reset-password *ngIf="tokenValid" (_submit)="submit($event)"></app-reset-password>
        </div>
      </div>
    </div>
  </div>
</div>
