<h2 mat-dialog-title>Notify all parties of Milestone ({{data.name}}) completion via: </h2>

<mat-dialog-content [formGroup]="notiPropsForm">
  <div style="margin-bottom: 10px;">
    <div class="col-12">
      <mat-checkbox formControlName="sendSMS" (change)="changeSend($event, 'sendSMS')">
        SMS</mat-checkbox>
      <br>
      <div class="row" *ngIf="sendSMS.value">
        <div class="col-10 offset-1">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description>
                  SMS Message preview {{smsMessage.value.indexOf('*bank*') > -1 ? '(Choose bank)' : ''}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field class="innerFormFields col-12" appearance="outline">
                <mat-label>SMS Notification Message</mat-label>
                <textarea matInput
                          placeholder="Dear *contact_name* your property *property_description* has been registered at *deeds_office* please contact me *my_name* for any other queries."
                          formControlName="smsMessage" required rows="4"></textarea>
                <mat-error>SMS Message is required.</mat-error>
              </mat-form-field>
              <!--<mat-form-field *ngIf="sendSMS.value">
                <mat-select formControlName="chooseBank1" placeholder="Choose Bank" (valueChange)="chooseBank($event, 'smsMessage')" required>
                  <mat-option value="First National Bank">First National Bank</mat-option>
                  <mat-option value="ABSA">ABSA</mat-option>
                  <mat-option value="African Bank">African Bank</mat-option>
                  <mat-option value="Capitec">Capitec</mat-option>
                  <mat-option value="Nedbank">Nedbank</mat-option>
                  <mat-option value="Standard Bank">Standard Bank</mat-option>
                  <mat-option value="Bidvest Bank">Bidvest Bank</mat-option>
                </mat-select>
                <mat-error>
                  You are required to choose a bank.
                </mat-error>
              </mat-form-field>-->
              <mat-form-field>
                <mat-select placeholder="Contacts" [formControl]="smsContacts" multiple required>
                  <mat-select-trigger>
                    {{smsContacts.value ? smsContacts.value[0]?.name : ''}}
                    <span *ngIf="smsContacts.value?.length > 1" class="example-additional-selection">
                      (+{{smsContacts.value.length - 1}} {{smsContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let contact of filteredCellContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
                </mat-select>
                <mat-error>Contacts are required</mat-error>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <br>
    <div class="col-12">
      <mat-checkbox formControlName="sendEmail" (change)="changeSend($event, 'sendEmail')">
        Email</mat-checkbox>
      <br>
      <div class="row" *ngIf="sendEmail.value">
        <div class="col-10 offset-1">
          <mat-accordion>
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-description>
                  Email Message preview {{emailMessage.value.indexOf('*bank*') > -1 ? '(Choose bank)' : ''}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field class="innerFormFields col-12" appearance="outline">
                <mat-label>Email Notification Message</mat-label>
                <textarea matInput
                          placeholder="Dear *contact_name* your property *property_description* has been registered at *deeds_office* please contact me *my_name* for any other queries."
                          formControlName="emailMessage" required rows="4"></textarea>
                <mat-error>Email Message is required.</mat-error>
              </mat-form-field>
              <!--<mat-form-field *ngIf="sendEmail.value">
                <mat-select formControlName="chooseBank2" placeholder="Choose Bank" (valueChange)="chooseBank($event, 'emailMessage')" required>
                  <mat-option value="First National Bank">First National Bank</mat-option>
                  <mat-option value="ABSA">ABSA</mat-option>
                  <mat-option value="African Bank">African Bank</mat-option>
                  <mat-option value="Capitec">Capitec</mat-option>
                  <mat-option value="Nedbank">Nedbank</mat-option>
                  <mat-option value="Standard Bank">Standard Bank</mat-option>
                  <mat-option value="Bidvest Bank">Bidvest Bank</mat-option>
                </mat-select>
                <mat-error>
                  You are required to choose a bank.
                </mat-error>
              </mat-form-field>-->
              <mat-form-field>
                <mat-select placeholder="Contacts" [formControl]="emailContacts" multiple required>
                  <mat-select-trigger>
                    {{emailContacts.value ? emailContacts.value[0]?.name : ''}}
                    <span *ngIf="emailContacts.value?.length > 1" class="example-additional-selection">
                      (+{{emailContacts.value.length - 1}} {{emailContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let contact of filteredEmailContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
                </mat-select>
                <mat-error>Contacts are required</mat-error>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <br>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-outline-secondary btn-sm closeBtn"(click)="close()">Close</button>
  <button [disabled]="notiPropsForm.invalid" type="submit" class="btn btn-primary btn-sm" (click)="submit();">
    <span><i class="far fa-save"></i> Complete Milestone</span>
  </button>
</mat-dialog-actions>
