<p style="color: darkslategray">
  {{body}}
</p>
<br>
{{#if requiredDocs}}
  <p>The following document is requested by the Transferring Attorney:</p>
  <ul>
    {{#each requiredDocs}}
      <li>
        {{this.name}}
        <a href="{{this.link}}" style="display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: #6c757d;
  ">Upload</a>
      </li>
    {{/each}}
  </ul>
{{/if}}
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: #007bff;
  ">View File</a>
<br>
<br>

