<b>Hi {{name}}</b>
<br>
<br>
A weekly update report has successfully been sent out for:
<br>
<br>
<b style="color: blue; font-size: 20px">{{counts.files}}</b> open files,
<br>
<b>and to:</b>
<br>
<b style="color: blue; font-size: 20px">{{counts.contacts}}</b> related contacts.
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #33B6CC;">View Files</a>
<br>
<br>
If you need any assistance, email <a href="mailto:help@conveyfeed.co.za?Welcome%20Help">help@conveyfeed.co.za</a>.
<br>
<br>
