<h2 mat-dialog-title>
  {{existing ? 'Update Required Document' : 'Add New Required Document'}}
</h2>

<mat-dialog-content [formGroup]="rdForm">
  <div style="margin-bottom: 10px;">
    <mat-form-field class="innerFormFields">
      <input matInput placeholder="Required document name" formControlName="name" required>
      <mat-error>
        Required document name is required.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="innerFormFields">
      <mat-label>Milestone List</mat-label>
      <mat-select (selectionChange)="selectMilestoneList($event)" formControlName="milestoneList">
        <mat-option *ngFor="let milestoneList of allMilestoneList" [value]="milestoneList.title">
          {{milestoneList.title}}
        </mat-option>
      </mat-select>
      <mat-error>
        Milestone List is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="innerFormFields" *ngIf="allMilestones">
      <mat-label>Milestone</mat-label>
      <mat-select formControlName="milestone">
        <mat-option *ngFor="let milestone of allMilestones" [value]="milestone._id">
          {{milestone.number + ': ' + milestone.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="milestone.hasError('required')">
        Milestone List is required.
      </mat-error>
    </mat-form-field>
    <br>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-outline-secondary btn-sm closeBtn" (click)="close()">Close</button>
  <button *ngIf="!existing" [disabled]="rdForm.invalid || (loaderService.isLoading | async)"
          class="btn btn-primary btn-sm" (click)="addNew()">
    <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Add Required Doc</span>
    <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
  </button>
  <button *ngIf="existing" [disabled]="rdForm.invalid || (loaderService.isLoading | async)"
          class="btn btn-primary btn-sm" (click)="update()">
    <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
    <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
  </button>
</mat-dialog-actions>
