<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Milestones Setup
            </mat-panel-title>
            <mat-panel-description>
              Add Milestone Lists
              <i class="fas fa-tasks"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <button class="btn btn-outline-primary btn-sm" color="primary"><i class="fas fa-plus"></i> Add Milestone List</button>
          <mat-action-row>
            <button class="btn btn-primary btn-md" color="primary">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              File Properties
            </mat-panel-title>
            <mat-panel-description>
              Configure File Properties and types.
              <i class="fas fa-cog"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button class="btn btn-primary btn-md" color="primary">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contacts
            </mat-panel-title>
            <mat-panel-description>
              Manage Contact list
              <i class="fas fa-id-card-alt"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button class="btn btn-outline-primary btn-sm" color="primary"><i class="fas fa-plus"></i> Add Contact</button>
          <mat-action-row>
            <button class="btn btn-primary btn-md" color="primary">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Users
            </mat-panel-title>
            <mat-panel-description>
              Manage Users
              <i class="fas fa-users"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button class="btn btn-outline-primary btn-sm" color="primary"><i class="fas fa-plus"></i> Add User</button>
          <mat-action-row>
            <button class="btn btn-primary btn-md" color="primary">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
