<h2 mat-dialog-title>Add {{formType}}</h2>

<mat-dialog-content *ngIf="formType === 'Comment'" [formGroup]="commentForm">
  <div style="margin-bottom: 10px;">
    <mat-form-field class="innerFormFields" appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea #commentTextArea matInput placeholder="Write a comment" formControlName="comment" rows="4" required></textarea>
      <mat-error *ngIf="comment.getError('required')">
        Comment can't be empty text.
      </mat-error>
      <mat-error *ngIf="comment.getError('invalidCharacter')">
        Sms text contains invalid characters: <b>{{returnInvalidCharacter(comment.value, commentTextArea)}}</b>
      </mat-error>
    </mat-form-field>
    <div class="col-12">
      <mat-checkbox (change)="changeSend($event, 'sendSMS')" formControlName="sendSMS">
        SMS all parties</mat-checkbox>
      <mat-form-field *ngIf="sendSMS.value">
        <mat-select placeholder="Send to Contacts" [formControl]="smsContacts" multiple required>
          <mat-select-trigger>
            {{smsContacts.value ? smsContacts.value[0]?.name : ''}}
            <span *ngIf="smsContacts.value?.length > 1" class="example-additional-selection">
                      (+{{smsContacts.value.length - 1}} {{smsContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
          </mat-select-trigger>
          <mat-option *ngFor="let contact of filteredCellContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
        </mat-select>
        <mat-error>Contacts are required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-checkbox (change)="changeSend($event, 'sendEmail')" formControlName="sendEmail">
        Email all parties</mat-checkbox>
      <mat-form-field *ngIf="sendEmail.value">
        <mat-select placeholder="Send to Contacts" [formControl]="emailContacts" multiple required>
          <mat-select-trigger>
            {{emailContacts.value ? emailContacts.value[0]?.name : ''}}
            <span *ngIf="emailContacts.value?.length > 1" class="example-additional-selection">
                      (+{{emailContacts.value.length - 1}} {{emailContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
          </mat-select-trigger>
          <mat-option *ngFor="let contact of filteredEmailContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
        </mat-select>
        <mat-error>Contacts are required</mat-error>
      </mat-form-field>
    </div>
    <br>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="formType === 'Summary'" [formGroup]="summaryForm">
  <div style="margin-bottom: 10px;">
    <mat-form-field class="innerFormFields" appearance="outline">
      <mat-label>Summary</mat-label>
      <textarea #summaryTextArea matInput placeholder="Write a summary" formControlName="summary" rows="4" required></textarea>
      <mat-error *ngIf="summary.getError('required')">
        Summary can't be empty text.
      </mat-error>
      <mat-error *ngIf="summary.getError('invalidCharacter')">
        Sms text contains invalid characters: <b>{{returnInvalidCharacter(summary.value, summaryTextArea)}}</b>
      </mat-error>
    </mat-form-field>
    <div class="col-12">
      <mat-checkbox (change)="changeSend($event, 'sendSMS')" formControlName="sendSMS">
        SMS all parties</mat-checkbox>
      <mat-form-field *ngIf="sendSMS.value">
        <mat-select placeholder="Send to Contacts" [formControl]="smsContacts" multiple required>
          <mat-select-trigger>
            {{smsContacts.value ? smsContacts.value[0]?.name : ''}}
            <span *ngIf="smsContacts.value?.length > 1" class="example-additional-selection">
                      (+{{smsContacts.value.length - 1}} {{smsContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
          </mat-select-trigger>
          <mat-option *ngFor="let contact of filteredCellContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
        </mat-select>
        <mat-error>Contacts are required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-checkbox (change)="changeSend($event, 'sendEmail')" formControlName="sendEmail">
        Email all parties</mat-checkbox>
      <mat-form-field *ngIf="sendEmail.value">
        <mat-select placeholder="Send to Contacts" [formControl]="emailContacts" multiple required>
          <mat-select-trigger>
            {{emailContacts.value ? emailContacts.value[0]?.name : ''}}
            <span *ngIf="emailContacts.value?.length > 1" class="example-additional-selection">
                      (+{{emailContacts.value.length - 1}} {{emailContacts.value?.length === 2 ? 'other' : 'others'}})
                    </span>
          </mat-select-trigger>
          <mat-option *ngFor="let contact of filteredEmailContacts" [value]="contact">{{contact.name + ' ' + contact.surname}}</mat-option>
        </mat-select>
        <mat-error>Contacts are required</mat-error>
      </mat-form-field>
    </div>
    <br>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="formType === 'Comment'">
  <button class="btn btn-outline-secondary btn-sm closeBtn"(click)="close()">Close</button>
  <button [disabled]="commentForm.invalid" class="btn btn-primary btn-sm" (click)="submitComment()">
    <span><i class="far fa-save"></i> Save Comment</span>
  </button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="formType === 'Summary'">
  <button class="btn btn-outline-secondary btn-sm closeBtn"(click)="close()">Close</button>
  <button [disabled]="summaryForm.invalid" class="btn btn-primary btn-sm" (click)="submitComment()">
    <span><i class="far fa-save"></i> Save Summary</span>
  </button>
</mat-dialog-actions>
