<app-nav></app-nav>
<div class="main-container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <h3 class="routeHeader">{{showRoute()}}</h3>
    </div>
    <br>
  </div>
  <div class="home-container">
    <div class="row">
      <div class="col-12">
        <h5>Actions</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a class="btn btn-md btn-primary actionButtons" role="button" [routerLink]="['/add-file']">New File</a>
        <button class="btn btn-md btn-primary actionButtons" (click)="addNewContact()">New Contact</button>
        <button class="btn btn-md btn-primary actionButtons" (click)="addNewEntity()">New Entity</button>
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12">
        <h5>Files</h5>
      </div>
      <div class="col-12">
        <app-file-table></app-file-table>
      </div>
    </div>
  </div>
</div>
