<app-nav></app-nav>
<div class="container">
  <div class="home-container">
    <div class="row">
      <div class="col-4">
        <h5>Actions</h5>
      </div>
      <div class="col-8">
        <h5>Filters</h5>
      </div>
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a class="btn btn-lg btn-primary" role="button" [routerLink]="['/add-file']">New File</a>
      </div>
     <!--  <div class="col-8">
        <form [formGroup]="filterForm">
          <div class="row">
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="File Ref" formControlName="fileRef">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="Our Ref" formControlName="ourRed">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="Buyer / Seller" formControlName="buyerSeller">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <input matInput placeholder="Agent" formControlName="agent">
              </mat-form-field>
            </div>
          </div>

        </form>
      </div>-->
      <table mat-table
             [dataSource]="files" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
  </div>
</div>
