.home-container {
  margin-top: 20px;
  background-color: #F5F5F5;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

mat-form-field {
  width: 100%;
}

.actionButtons {
  color: white;
  margin-left: 5px;
}

.main-container {
  max-width: 85%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
