<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <h3 class="routeHeader">{{showRoute()}}</h3>
    </div>
    <br>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Milestones Setup
            </mat-panel-title>
            <mat-panel-description>
              Add Milestone Lists
              <i class="fas fa-tasks"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="MilestoneListForm" [formGroup]="MilestoneListForm">
                <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel" formArrayName="list"
                                       *ngFor="let l of list.controls; let i = index" [expanded]="i + 1 === list.length">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ l.get('title').value ? l.get('title').value : 'List ' + (i + 1) }}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{ getMilestones(i).length }} Milestones
                        <i class="fas fa-trash-alt float-right deleteBtn"
                           (click)="removeMilestoneList($event, i)"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [formGroupName]="i" (change)="onListChange(i)">
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="List title" formControlName="title" required>
                        <mat-error *ngIf="l.get('title').hasError('required')">
                          List title is required.
                        </mat-error>
                      </mat-form-field>
                      <mat-accordion>
                        <mat-expansion-panel hideToggle class="msPanel" formArrayName="milestones"
                                           *ngFor="let m of getMilestones(i).controls; let k = index" [expanded]="k + 1 === getMilestones(i).length">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="mTitle">
                            {{ m.get('name').value ? m.get('name').value : 'Milestone' }}
                          </mat-panel-title>
                          <mat-panel-description>
                            <span class="mTitle">{{ m.get('number').value }}</span>
                            <div class="mCheck">
                              <i class="fas fa-trash-alt float-right deleteBtn" *ngIf="getMilestones(i).length > 1"
                                 (click)="removeMilestone($event, i, k)"></i>
                            </div>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row" [formGroupName]="k" (change)="onMilestoneChange(i , k)">
                          <mat-form-field class="innerFormFields col-8">
                            <input matInput placeholder="Milestone Name" formControlName="name" required>
                            <mat-error *ngIf="m.get('name').hasError('required')">
                              Milestone Name is required.
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="innerFormFields col-4">
                            <input matInput type="number" placeholder="Milestone Number" formControlName="number" required>
                            <mat-error>Milestone number is required</mat-error>
                          </mat-form-field>
                          <mat-form-field class="innerFormFields col-12" appearance="outline">
                            <mat-label>Email Notification Message</mat-label>
                            <textarea matInput #emailMessage
                                      placeholder="Dear *contact_name* your property *property_description* has been registered at *deeds_office* please contact me *my_name* for any other queries."
                                      formControlName="emailMessage" required rows="4"></textarea>
                            <mat-error>Email Message is required.</mat-error>
                          </mat-form-field>
                          <div class="col-12">
                            <span style="color: lightgray">Insert Placeholders</span><br>
                            <mat-chip-list>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*contact_name*','emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Contact's Name
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*property_description*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Prop Description
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*deeds_office*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Deeds Office
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*my_name*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                My Name
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*sec_names*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Secretary name/s
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*sec_emails*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Secretary email/s
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*file_ref*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                File Reference
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*bank*', 'emailMessage', emailMessage); onMilestoneChange(i,k); onListChange(i)">
                                Bank
                              </mat-chip>
                            </mat-chip-list>
                          </div>
                          <mat-form-field class="innerFormFields col-12" appearance="outline">
                            <mat-label>SMS Notification Message</mat-label>
                            <textarea matInput #smsInput
                                      placeholder="Dear *contact_name* your property *property_description* has been registered at *deeds_office* please contact me *my_name* for any other queries."
                                      formControlName="smsMessage" required rows="4"></textarea>
                            <mat-error>SMS Message is required.</mat-error>
                          </mat-form-field>
                          <div class="col-12">
                            <span style="color: lightgray">Insert Placeholders</span><br>
                            <mat-chip-list>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*contact_name*','smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Contact's Name
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*property_description*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Prop Description
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*deeds_office*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Deeds Office
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*my_name*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                My Name
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*sec_names*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Secretary name/s
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*sec_emails*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Secretary email/s
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*file_ref*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                File Reference
                              </mat-chip>
                              <mat-chip
                                (click)="insertNoti($event, i, k, '*bank*', 'smsMessage', smsInput); onMilestoneChange(i,k); onListChange(i)">
                                Bank
                              </mat-chip>
                            </mat-chip-list>
                          </div>
                          <div class="col-12">
                            <mat-checkbox (change)="onMilestoneChange(i, k); onListChange(i)" formControlName="sendEmail">
                              Email to all parties</mat-checkbox>
                          </div>
                          <div class="col-12">
                            <mat-checkbox (change)="onMilestoneChange(i, k); onListChange(i)" formControlName="sendSMS">
                              SMS to all parties</mat-checkbox>
                          </div>
                          <div class="col-12">
                            <mat-checkbox (change)="onMilestoneChange(i, k); onListChange(i)" formControlName="alwaysAsk">
                              Always Ask</mat-checkbox>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                      <button (click)="addMilestone(i)" class="btn btn-outline-secondary btn-sm" color="primary"
                               [disabled]="!(l.get('title').valid && MilestoneListForm.valid)"><i class="fas fa-plus"></i> Add Milestone
                      </button>
                      <button class="btn btn-primary btn-sm saveButton" color="primary" [disabled]="!MilestoneListForm.valid" (click)="submitMilestones(i)">
                        <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
                        <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <button (click)="addMilestoneList()" [disabled]="!MilestoneListForm.valid" class="btn btn-outline-primary btn-xs" color="primary">
            <i class="fas fa-plus"></i> Add Milestone List
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!--File Properties--> Deeds Offices
            </mat-panel-title>
            <mat-panel-description>
              <!--Configure File Properties and types.--> Add and remove deeds offices
              <i class="fas fa-cog"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="PropertiesForm" [formGroup]="PropertiesForm">
                <mat-accordion>
                  <!--<mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Property Types
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Property Types
                        <i class="fas fa-home float-right"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle [expanded]="true"
                                             *ngFor="let p of propertyTypes.controls; let i = index" formArrayName="propertyTypes">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{p.get('name').value ? p.get('name').value : 'Property Type ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removePropertyType($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onPropTypeChange(i)" matInput placeholder="Property Type" formControlName="name" required>
                              <mat-error>
                                Property Type is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button *ngIf="propertyTypes.valid" (click)="addPropertyType()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Property Type
                    </button>
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Cause of Action Types
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Action Types
                        <i class="fas fa-exclamation"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle [expanded]="true"
                                             *ngFor="let at of actionTypes.controls; let i = index" formArrayName="actionTypes">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{at.get('name').value ? at.get('name').value : 'Action Type ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removeActionType($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onActionTypeChange(i)" matInput placeholder="Action type" formControlName="name" required>
                              <mat-error>
                                Action Type is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button *ngIf="actionTypes.valid" (click)="addActionType()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Action Type
                    </button>
                  </mat-expansion-panel>-->
                  <mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Deeds Offices
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Deeds Offices
                        <i class="fas fa-building"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle [expanded]="i + 1 === deedsOffices.length"
                                             *ngFor="let d of deedsOffices.controls; let i = index" formArrayName="deedsOffices">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{d.get('name').value ? d.get('name').value : 'Deeds Office ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removeDeedsOffice($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onDeedsOffChange(i)" matInput placeholder="Deeds Office" formControlName="name" required>
                              <mat-error>
                                Deeds Office is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button [disabled]="!deedsOffices.valid" (click)="addDeedsOffice()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Deeds Office
                    </button>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <mat-action-row>
            <button (click)="submitProperties()" class="btn btn-primary btn-md" color="primary">
              <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
              <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Comment Footer
            </mat-panel-title>
            <mat-panel-description>
              Change comment footer messages
              <i class="fas fa-envelope-square"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form [formGroup]="EmailPropsForm">
                <mat-form-field class="innerFormFields" style="width: 100%;">
                  <textarea #commFooter matInput placeholder="Comment footer message" formControlName="commentMailFooter"></textarea>
                </mat-form-field>
                <div class="col-12">
                  <span style="color: lightgray">Insert Placeholders</span><br>
                  <mat-chip-list>
                    <mat-chip
                      (click)="insertFooterPh($event, '*contact_name*', commFooter);">
                      Contact's Name
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*property_description*', commFooter);">
                      Prop Description
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*deeds_office*', commFooter);">
                      Deeds Office
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*my_name*', commFooter);">
                      My Name
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*sec_names*', commFooter);">
                      Secretary name/s
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*sec_emails*', commFooter);">
                      Secretary email/s
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*file_ref*', commFooter);">
                      File Reference
                    </mat-chip>
                    <mat-chip
                      (click)="insertFooterPh($event, '*bank*', commFooter);">
                      Bank
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </form>
            </div>
          </div>
          <mat-action-row>
            <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
              <button class="btn btn-primary btn-sm saveButton" color="primary"
                      [disabled]="!EmailPropsForm.valid || (loaderService.isLoading | async)" (click)="submitEmailProperties()">
                <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
                <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
              </button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contacts
            </mat-panel-title>
            <mat-panel-description>
              Manage Contact list
              <i class="fas fa-id-card-alt"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Search My Contacts"
                       (keyup)="searchTerm$.next($event.target.value)">
                <span matPrefix><i class="fas fa-search"></i>&nbsp;</span>
                <span *ngIf="loaderService.isLoading | async" matSuffix>
                            <i class="fas fa-spinner fa-spin"></i>
                          </span>
              </mat-form-field>
              <div class="list-container" [@listAnimation]="allContacts.length">
                <div class="row contact-box" *ngFor="let ct of allContacts; let i = index;">
                  <div class="col-12">
                    <span style="font-weight: bold"><i
                      class="far fa-id-card"></i> {{ct?.name + ' ' + ct?.surname}}</span>
                    <i class="fas fa-ellipsis-h float-right" [matMenuTriggerFor]="cActionsMenu"></i>
                  </div>
                  <mat-menu #cActionsMenu="matMenu">
                    <button mat-menu-item (click)="createNewContactDialog(ct)"><i class="far fa-edit"></i> Edit</button>
                    <button mat-menu-item (click)="removeContact(ct, i)"><i class="fas fa-trash-alt deleteBtn"></i>
                      Delete
                    </button>
                  </mat-menu>
                  <div class="col-8">
                    <small *ngIf="ct.email" style="color: darkgray"><i class="far fa-envelope"></i> {{ct?.email}}
                    </small>
                    <small *ngIf="!ct.email && ct.cell" style="color: darkgray"><i class="fas fa-phone-square"></i> {{
                      ct?.cell }}
                    </small>
                  </div>
                  <div class="col-4">
                    <small style="color: darkgray">| <i class="fas fa-user-friends"></i> {{ct?.type}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-outline-primary btn-sm" color="primary" (click)="addContact()">
            <i class="fas fa-plus"></i> Add Contact
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Entities
            </mat-panel-title>
            <mat-panel-description>
              Manage Entities
              <i class="fas fa-building"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel" [expanded]="i + 1 === allEntities.length"
                                       *ngFor="let e of allEntities; let i = index">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{e.name}}
                        <i class="fas fa-ellipsis-h float-right" [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-menu #actionsMenu="matMenu">
                      <button mat-menu-item (click)="editEntity(e)"><i class="far fa-edit"></i> Edit</button>
                      <button mat-menu-item (click)="removeEntity(e)"><i class="fas fa-trash-alt deleteBtn"></i> Delete</button>
                    </mat-menu>
                    <div class="row">
                      <div class="col-12">
                        <br>
                        <p><i class="fas fa-map-marker-alt"></i> {{e.address}}</p>
                        <p><i class="fas fa-globe"></i> <a [href]="'//' + e.website" target="_blank">{{' ' + e.website}}</a></p>
                      </div>
                      <div class="col-12" style="min-height: 200px;">
                        <mat-tab-group mat-align-tabs="center">
                          <mat-tab label="Contacts">
                            <br>
                            <div class="col-12" style="margin-top: 5px" *ngFor="let c of e.contacts">
                                <mat-card>
                                  <mat-card-title>
                                    <i class="far fa-id-card"></i> {{' ' + c.name +  ' ' + c.surname}}
                                  </mat-card-title>
                                </mat-card>
                              </div>
                            <br>
                          </mat-tab>
                          <mat-tab label="Files">
                            <br>
                            <div class="col-12" style="margin-top: 5px" *ngFor="let f of e.files">
                                <mat-card>
                                  <mat-card-title>
                                    <i class="far fa-file"></i> {{' ' + f.fileRef}}
                                  </mat-card-title>
                                  <mat-card-subtitle>{{f.milestoneList._id.title}}</mat-card-subtitle>
                                </mat-card>
                              </div>
                            <br>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
            </div>
          </div>
          <button class="btn btn-outline-primary btn-sm" color="primary" (click)="addEntity()">
            <i class="fas fa-plus"></i> Add Entity
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Required Documents
            </mat-panel-title>
            <mat-panel-description>
              Manage required document uploads for milestones
              <i class="fas fa-file-upload"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <mat-accordion>
                <mat-expansion-panel hideToggle class="msListPanel" [expanded]="i + 1 === allRDs.length"
                                     *ngFor="let rd of allRDs; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      {{rd.name}}
                      <i class="fas fa-ellipsis-h float-right" [matMenuTriggerFor]="RDactionsMenu" (click)="$event.stopPropagation()"></i>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-menu #RDactionsMenu="matMenu">
                    <button mat-menu-item (click)="editRD(rd)"><i class="far fa-edit"></i> Edit</button>
                    <button mat-menu-item (click)="removeRD(rd)"><i class="fas fa-trash-alt deleteBtn"></i> Delete</button>
                  </mat-menu>
                  <div class="row">
                    <div class="col-12">
                      <br>
                      <p><i class="fas fa-flag"></i> {{' ' + rd.milestone.number + ': ' + rd.milestone.name}}</p>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <button class="btn btn-outline-primary btn-sm" color="primary" (click)="addReqDoc()">
          <i class="fas fa-plus"></i> Add Required Doc
        </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle *ngIf="iAmAdmin()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Users
            </mat-panel-title>
            <mat-panel-description>
              Manage Users
              <i class="fas fa-users"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="UsersForm" [formGroup]="UsersForm">
                <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel" [expanded]="i + 1 === users.length"
                                       *ngFor="let u of users.controls; let i = index" formArrayName="users">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{u.get('name').value ? u.get('name').value + ' ' + u.get('surname')?.value : 'User ' + (i+1)}}
                        <i class="fas fa-trash-alt float-right deleteBtn" (click)="removeUser($event, i)"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [formGroupName]="i" (change)="onUserChange(i)">
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-error>
                          User name is required.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="Surname" formControlName="surname" required>
                        <mat-error>
                          User surname is required.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="Cell number" formControlName="cell" required>
                        <mat-error *ngIf="u.get('cell').hasError('required')">
                          Cell number is required.
                        </mat-error>
                        <mat-error *ngIf="u.get('cell').hasError('length')">
                          A valid cell must be 10 digits long.
                        </mat-error>
                        <mat-error *ngIf="u.get('cell').hasError('numbers')">
                          A valid cell must consist of only numbers.
                        </mat-error>
                        <mat-error *ngIf="u.get('cell').hasError('firstZero')">
                          A valid cell must start with a 0.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="innerFormFields">
                        <input type="email" matInput placeholder="Email address" formControlName="email" required>
                        <mat-error *ngIf="u.get('email').hasError('required')">
                          Email address is required.
                        </mat-error>
                        <mat-error *ngIf="u.get('email').hasError('email')">
                          Email must be a valid email address.
                        </mat-error>
                        <mat-error *ngIf="u.get('email').hasError('emailNotUnique')">
                          You already have a user with this email.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                        <button class="btn btn-primary btn-sm saveButton" color="primary" [disabled]="!users.at(i).valid || (loaderService.isLoading | async) || users.at(i).get('updatedBy').value === 'existing'" (click)="submitUser(i)">
                          <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
                          <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                        </button>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <button [disabled]="!UsersForm.valid || (loaderService.isLoading | async)" class="btn btn-outline-primary btn-sm" (click)="addUser()" color="primary"><i class="fas fa-plus"></i> Add User</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
