<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Milestones Setup
            </mat-panel-title>
            <mat-panel-description>
              Add Milestone Lists
              <i class="fas fa-tasks"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="MilestoneListForm" [formGroup]="MilestoneListForm">
                <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel" formArrayName="list"
                                       *ngFor="let l of list.controls; let i = index">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ l.get('title').value ? l.get('title').value : 'List ' + (i + 1) }}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{ getMilestones(i).length }} Milestones
                        <i class="fas fa-trash-alt float-right deleteBtn"
                           (click)="removeMilestoneList($event, i)"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [formGroupName]="i" (change)="onListChange(i)">
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="List title" formControlName="title" required>
                        <mat-error *ngIf="l.get('title').hasError('required')">
                          List title is required.
                        </mat-error>
                      </mat-form-field>
                      <mat-accordion>
                        <mat-expansion-panel hideToggle class="msPanel" formArrayName="milestones"
                                           *ngFor="let m of getMilestones(i).controls; let k = index">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ m.get('name').value ? m.get('name').value : 'Milestone' }}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{ k + 1 }}
                            <i class="fas fa-trash-alt float-right deleteBtn" *ngIf="getMilestones(i).length > 1"
                               (click)="removeMilestone($event, i, k)"></i>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row" [formGroupName]="k" (change)="onMilestoneChange(i , k)">
                          <mat-form-field class="innerFormFields col-8">
                            <input matInput placeholder="Milestone Name" formControlName="name" required>
                            <mat-error *ngIf="m.get('name').hasError('required')">
                              Milestone Name is required.
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="innerFormFields col-4">
                            <input matInput type="number" placeholder="Milestone Number" formControlName="number" required>
                          </mat-form-field>
                          <mat-form-field class="innerFormFields col-12" appearance="outline">
                            <mat-label>Notification Message</mat-label>
                            <textarea matInput
                                      placeholder="Dear *contact_name* your property *erf_name* has been registered at *deeds_office* please contact me *my_name* for any other queries."
                                      formControlName="notificationMessage" required rows="4"></textarea>
                            <mat-error>Notification Message is required.</mat-error>
                          </mat-form-field>
                          <div class="col-12">
                            <span style="color: lightgray">Insert Placeholders</span>
                            <div class="btn-group placeholderButtons" role="group" aria-label="action buttons">
                              <button
                                class="btn btn-outline-secondary btn-sm"
                                (click)="insertNoti($event, i, k, ' *contact_name*'); onMilestoneChange(i,k); onListChange(i)">
                                Contact's Name
                              </button>
                              <button
                                class="btn btn-outline-secondary btn-sm"
                                (click)="insertNoti($event, i, k, ' *erf_name*'); onMilestoneChange(i,k); onListChange(i)">
                                Erf Name
                              </button>
                              <button
                                class="btn btn-outline-secondary btn-sm"
                                (click)="insertNoti($event, i, k, ' *deeds_office*'); onMilestoneChange(i,k); onListChange(i)">
                                Deeds Office
                              </button>
                              <button
                                class="btn btn-outline-secondary btn-sm"
                                (click)="insertNoti($event, i, k, ' *my_name*'); onMilestoneChange(i,k); onListChange(i)">
                                My Name
                              </button>
                            </div>
                          </div>
                          <div class="col-12">
                            <mat-checkbox (change)="onMilestoneChange(i, k); onListChange(i)" formControlName="sendEmail">
                              Email to all parties</mat-checkbox>
                          </div>
                          <div class="col-12">
                            <mat-checkbox (change)="onMilestoneChange(i, k); onListChange(i)" formControlName="sendSMS">
                              SMS to all parties</mat-checkbox>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                      <button (click)="addMilestone(i)" class="btn btn-outline-secondary btn-sm" color="primary"
                               *ngIf="l.get('title').valid && MilestoneListForm.valid"><i class="fas fa-plus"></i> Add Milestone
                      </button>
                      <button class="btn btn-primary btn-sm saveButton" color="primary" [disabled]="!MilestoneListForm.valid" (click)="submitMilestones(i)">
                        <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
                        <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <button (click)="addMilestoneList()" *ngIf="MilestoneListForm.valid" class="btn btn-outline-primary btn-xs" color="primary">
            <i class="fas fa-plus"></i> Add Milestone List
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              File Properties
            </mat-panel-title>
            <mat-panel-description>
              Configure File Properties and types.
              <i class="fas fa-cog"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="PropertiesForm" [formGroup]="PropertiesForm">
                <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Property Types
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Property Types
                        <i class="fas fa-home float-right"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle *ngFor="let p of propertyTypes.controls; let i = index" formArrayName="propertyTypes">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{p.get('name').value ? p.get('name').value : 'Property Type ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removePropertyType($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onPropTypeChange(i)" matInput placeholder="Property Type" formControlName="name" required>
                              <mat-error>
                                Property Type is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button *ngIf="propertyTypes.valid" (click)="addPropertyType()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Property Type
                    </button>
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Cause of Action Types
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Action Types
                        <i class="fas fa-exclamation"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle *ngFor="let at of actionTypes.controls; let i = index" formArrayName="actionTypes">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{at.get('name').value ? at.get('name').value : 'Action Type ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removeActionType($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onActionTypeChange(i)" matInput placeholder="Action type" formControlName="name" required>
                              <mat-error>
                                Action Type is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button *ngIf="actionTypes.valid" (click)="addActionType()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Action Type
                    </button>
                  </mat-expansion-panel>
                  <mat-expansion-panel hideToggle class="msListPanel">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Deeds Offices
                      </mat-panel-title>
                      <mat-panel-description>
                        Manage Deeds Offices
                        <i class="fas fa-building"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="propertiesPanelBody">
                      <mat-accordion>
                        <mat-expansion-panel class="msPanel" hideToggle *ngFor="let d of deedsOffices.controls; let i = index" formArrayName="deedsOffices">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                              {{d.get('name').value ? d.get('name').value : 'Deeds Office ' + (i+1)}}
                              <i class="fas fa-trash-alt float-right deleteBtn" (click)="removeDeedsOffice($event, i)"></i>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div [formGroupName]="i">
                            <mat-form-field class="innerFormFields">
                              <input (change)="onDeedsOffChange(i)" matInput placeholder="Deeds Office" formControlName="name" required>
                              <mat-error>
                                Deeds Office is required.
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <button *ngIf="deedsOffices.valid" (click)="addDeedsOffice()" class="btn btn-outline-secondary btn-sm" color="primary" style="margin-top: 5px;">
                      <i class="fas fa-plus"></i> Add Deeds Office
                    </button>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <mat-action-row>
            <button (click)="submitProperties()" class="btn btn-primary btn-md" color="primary">
              <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
              <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contacts
            </mat-panel-title>
            <mat-panel-description>
              Manage Contact list
              <i class="fas fa-id-card-alt"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-10 offset-1" style="margin-bottom: 10px;">
              <form class="ContactsForm" [formGroup]="ContactsForm">
                <mat-accordion>
                  <mat-expansion-panel hideToggle class="msListPanel" *ngFor="let c of contacts.controls; let i = index" formArrayName="contacts">
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{c.get('name').value ? c.get('name').value : 'Contact ' + (i+1)}}
                        <i class="fas fa-address-card"></i>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [formGroupName]="i">
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-error>
                          Contact name is required.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="innerFormFields">
                        <input matInput placeholder="Cell number" formControlName="cell" required>
                        <mat-error>
                          Cell number is required.
                        </mat-error>
                      </mat-form-field>
                      <br>
                      <mat-form-field class="innerFormFields">
                        <input type="email" matInput placeholder="Email address" formControlName="email" required>
                        <mat-error *ngIf="c.get('email').hasError('required')">
                          Email address is required.
                        </mat-error>
                        <mat-error *ngIf="c.get('email').hasError('email')">
                          Email must be a valid email address.
                        </mat-error>
                      </mat-form-field>
                      <p style="color: gray;">Contact Type</p>
                      <mat-radio-group class="example-radio-group" formControlName="type">
                        <mat-radio-button value="Buyer">
                          Buyer
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="Seller">
                          Seller
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="Agent">
                          Agent
                        </mat-radio-button>
                        <br>
                      </mat-radio-group>
                      <mat-error *ngIf="c.get('type').hasError('required') && !c.pristine">
                        Contact type is required.
                      </mat-error>
                      <br>
                      <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                        <button class="btn btn-primary btn-sm saveButton" color="primary" [disabled]="!ContactsForm.valid" (click)="submitContact(i)">
                          <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-save"></i> Save</span>
                          <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                        </button>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </div>
          </div>
          <button *ngIf="ContactsForm.valid" class="btn btn-outline-primary btn-sm" color="primary" (click)="addContact()">
            <i class="fas fa-plus"></i> Add Contact
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Users
            </mat-panel-title>
            <mat-panel-description>
              Manage Users
              <i class="fas fa-users"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button class="btn btn-outline-primary btn-sm" color="primary"><i class="fas fa-plus"></i> Add User</button>
          <mat-action-row>
            <button class="btn btn-primary btn-md" color="primary">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
