.container {
  margin-top: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.MilestoneListForm {
  width: 100%;
  align-content: center;
}

.msListPanel {
  margin-bottom: 10px;
  background-color: #f3f3f3;
}
.msListPanel mat-expansion-panel-header {
  background-color: #e3e3e3;
}

.msPanel mat-expansion-panel-header {
  background-color: #c1c1c1;
}

.deleteBtn {
  color: red;
  cursor: pointer;
  z-index: 100;
}

.innerFormFields {
  margin-top: 5px;
}

mat-expansion-panel.msPanel mat-expansion-panel-header.mat-expanded[style] {
  transition: all 0.5s;
  height: 48px!important;
}

.placeholderButtons button.btn.btn-outline-secondary.btn-sm {
  font-size: 12px!important;
  padding: .15rem .3rem;
}

.propertiesPanelBody {
  padding-top: 10px;
}

