.box {
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

mat-horizontal-stepper {
  background-color: lightgray;
}

mat-form-field {
  width: 100%;
  margin: 5px;
}

button {
  float: right;
}
