button {
  background-color: darkblue;
  color: white;
}
button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

mat-form-field {
  width: 100%;
}
.button-cols {
  margin-top:20px;
}
