<div style="margin-top: 20px; width: 100%;">
  <div style="margin-top:4px; font-size: 16px; width: 100%;"><div style=" margin-top:22px; float:left;  margin-left:8px; height:70px;">Kind Regards,<br><b>The ConveyFeed Team</b></div>
    <div style=" display:block; width: 202px; float: right; margin-top:28px; font-weight: lighter; font-size:16px;">
      <img style="width:170px; height: auto;" src="https://cbilaw.co.za/wp-content/uploads/2019/07/Web-logo-larger-01-e1562667647634.png">



    </div>
  </div>
</div>

