<div style="text-align: center">
  <div style="width:100%; height: 142px; text-align: center">
    <!--<img style="width:auto; height: 142px;" src="http://app.cbilaw.co.za/Images/Main300x600.png">-->
    <img style="width:auto; height: 100px;" src="http://www.conveyfeed.co.za/Assets/Images/conveyfeed_landslogo_fc_v2.png">
  </div>
</div>
