<app-contact-nav></app-contact-nav>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <h3 *ngIf="file" class="routeHeader">File: {{file.fileRef}}</h3>
    </div>
    <br>
  </div>
  <div class="home-container">
    <mat-tab-group *ngIf="file" mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="{{file.milestoneList._id.title}} Details">
        <br>
        <div class="row">
          <br>
          <div class="col-6">
            <i class="fas fa-home"></i> {{file.propertyDescription}}
          </div>
          <div class="col-6">
            <i class="fas fa-calendar-day"></i> {{formatDate(file.createdAt)}}
          </div>
          <br>
          <div class="col-sm-12 col-md-6 col-lg contactCards" *ngFor="let user of file.refUser">
            <mat-card>
              <mat-card-header>
                <mat-card-title style="justify-content: space-between">
                  <i class="fas fa-user-tie"></i>
                  {{user.name + ' ' + user.surname}}
                </mat-card-title>
                <mat-card-subtitle>
                  <small><i class="fas fa-user-friends"></i> Conveyancing Secretary</small>
                  <br>
                  <small *ngIf="user?.email"><i class="far fa-envelope"></i> {{ user?.email }}</small>
                  <br *ngIf="user?.email">
                  <small *ngIf="user?.cell"><i class="fas fa-phone-square"></i> {{ user?.cell }}</small>
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-sm-12 col-md-6 col-lg contactCards" *ngFor="let ct of file.contacts">
            <mat-card>
              <mat-card-header>
                <mat-card-title style="justify-content: space-between">
                  <i class="far fa-id-card"></i>
                  {{ct.name + ' ' + ct.surname}}
                </mat-card-title>
                <mat-card-subtitle>
                  <small><i class="fas fa-user-friends"></i> {{ct.type}}</small>
                  <br>
                  <small *ngIf="ct?.email"><i class="far fa-envelope"></i> {{ ct?.email }}</small>
                  <br *ngIf="ct?.email">
                  <small *ngIf="ct?.cell"><i class="fas fa-phone-square"></i> {{ ct?.cell }}</small>
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Completed Milestones">
        <div class="row">
          <div class="col-12">
            <mat-accordion>
              <br>
              <p class="text-center" style="color: #888888"
                 *ngIf="file.milestoneList.milestones.length < 1">No milestones have been completed</p>
              <mat-expansion-panel *ngFor="let milestone of file.milestoneList.milestones; let i = index"
                                   hideToggle
                                   (opened)="milestoneOpenState = true"
                                   (closed)="milestoneOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                                  <span class="mTitle">
                                    {{ milestone._id.name }}
                                    <small style="color: #1DA1F2">
                                      &nbsp;({{milestone.comments.length}} Comment{{milestone.comments.length < 1 || milestone.comments.length > 1? 's' : ''}})
                                    </small>
                                    <small class="comment" *ngIf="milestone.comments.length > 0 && !milestoneOpenState">
                                        <br/>
                                        <span style="color:red">Last comment:</span>
                                        <i class="fas fa-user-tie"></i> <span style="font-weight: bold; color: darkslategray"> {{milestone.comments[milestone.comments.length - 1]?.user?.name}}</span>
                                        <div class="speech">
                                          {{milestone.comments[milestone.comments.length - 1]?.comment}}<small style="color: #888888"> {{milestone.comments[milestone.comments.length - 1]?.timestamp | amTimeAgo}}</small>
                                        </div>
                                        <br>
                                      </small>
                                  </span>
                  </mat-panel-title>
                  <mat-panel-description>
                    <small style="color: darkgrey">
                      Last Updated: {{formatDate(milestone.updatedAt)}} <br>by
                      {{milestone.updatedBy.name}}
                    </small>
                    <h4><i class="far fa{{milestone.completed ? '-check' : ''}}-square"></i></h4>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <h5 style="color: darkslategray">Comments: </h5>
                <div class="comments" style="text-indent: 2em">
                  <span *ngIf="milestone.comments < 1">No comments to display</span>
                  <div class="comment" *ngFor="let c of milestone.comments">
                    <i class="fas fa-user-tie"></i> <span
                    style="font-weight: bold; color: darkslategray"> {{c.user.name}}</span>
                    <div class="speech">
                      {{c.comment}}
                      <small style="color: #888888"> {{c.timestamp | amTimeAgo}}</small>
                    </div>
                  </div>

                  <div class="milestoneComments">
                    <!--<div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                      <button class="btn btn-secondary btn-sm saveButton" color="primary" (click)="addComment(milestone, i, element._id)">
                        <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-comment"></i> Add comment</span>
                        <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                      </button>
                    </div>-->
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Summary Progress Report">
        <div class="row">
          <div class="col-12" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="row" *ngFor="let summary of file.summaries; let i = index;" style="width: 80%; margin-left: 10%;">
              <div class="col-3">
                <span style="font-weight: bold; color: dimgray"><i class="fas fa-user-tie"></i> &nbsp;{{summary.user.name}}</span>
                <small style="color: #888888; float: right"> {{summary.timestamp | amTimeAgo}}</small>
              </div>
              <div class="col-9" style="background-color: #F5F5F5; padding: 0px 8px 0px 8px; color: darkslategrey; font-size: 15px;"
                   [ngStyle]="{'border-radius' : i === 0 ? '10px 10px 0px 0px' : i === file.summaries.length - 1 ? '0px 0px 10px 10px' : ''}">
                <span>{{summary.summary}}</span>
              </div>
            </div>
            <p class="text-center" *ngIf="file.summaries.length < 1" style="color: gray;">No summary added.</p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Document Uploads" *ngIf="requiredDocs?.length > 0">
        <ng-template matTabLabel>
          <span matBadge="{{requiredDocs.length}}" matBadgeOverlap="false">Document Uploads</span>
        </ng-template>
        <div class="row">
          <div class="col-12">
            <mat-accordion>
              <br>
              <p class="text-center" style="color: #888888"
                 *ngIf="requiredDocs.length < 1">No required documents to be uploaded</p>
              <mat-expansion-panel *ngFor="let rd of requiredDocs">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ rd.name }}
                  </mat-panel-title>
                  <mat-panel-description *ngIf="rd.uploads">
                    <span style="color: #1DA1F2" class="mTitle">({{ rd.uploads?.length }} Document{{rd.uploads?.length > 1 || rd.uploads?.length === 0 ? 's' : ''}})</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="table" *ngIf="rd.uploads?.length > 0">
                  <thead>
                  <tr>
                    <th>Preview</th>
                    <th>name</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let u of rd.uploads; let i = index">
                    <td nowrap>
                      <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'application'">
                        <i class="fas fa-file-{{docType(u.mimeType)}} fa-7x" style="color: #888888;"></i> <br>
                      </div>
                      <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'image'">
                        <img [src]="u.path" style="height: 96px; border-radius: 4px;"> <br>
                      </div>
                    </td>
                    <td nowrap>{{  u.name  }} </td>
                    <td nowrap>
                      <button type="button" class="btn btn-primary btn-xs" (click)="downloadDoc(u)">
                        <i class="fas fa-file-download"></i> Download
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-12 text-center" *ngIf="rd.uploads?.length < 1">
                    <br>
                    <span style="color: gray">You haven't uploaded any documents.</span>
                  </div>
                  <div class="col-12 text-center">
                    <small style="color: lightgray;">Note: No action is required if you are not the relevant party.</small>
                    <br>
                  </div>
                  <div class="col-2 offset-5">
                    <button class="btn btn-md btn-primary" (click)="gotoUpload(rd._id)">
                      Upload More
                    </button>
                  </div>
                </div>
               <!-- <div class="row">
                  <div class="col-3" *ngFor="let u of uploads" style="padding: 0px 0px 10px 0px">
                    <div *ngIf="u.requiredDocumentID._id === rd._id">
                      <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'application'">
                        <i class="fas fa-file-{{docType(u.mimeType)}} fa-9x" style="color: #888888; margin-left: calc(50% - 95px);"></i> <br>
                      </div>
                      <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'image'">
                        <img [src]="u.path" style="height: 126px; max-width: 95px; border-radius: 4px; margin-left: calc(50% - 95px);"> <br>
                      </div>
                      <span style="color: darkslategray">{{rd.name + u.name.substring(u.name.lastIndexOf('.'), u.name.length)}}</span>
                    </div>
                  </div>
                  <div class="col-12 text-center" *ngIf="hasUploads(rd._id)">
                    <span style="color: gray">You haven't uploaded any documents.</span>
                  </div>
                  <div class="col-12 text-center">
                    <small style="color: lightgray;">Note: No action is required if you are not the relevant party.</small>
                    <br>
                  </div>

                </div>-->
              </mat-expansion-panel>
                <!--<img [src]="'data:image/png;base64,' + upload.path" height="50px" width="50px" (click)="downloadFile(upload)">-->
            </mat-accordion>
          </div>
          <div class="text-center col-12" *ngIf="loaderService.isLoading | async">
            <i class="fas fa-3x fa-spinner fa-spin x3"></i>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="row" *ngIf="!file">
      <div class="text-center col-12">
        <i class="fas fa-3x fa-spinner fa-spin x3"></i>
      </div>
    </div>
  </div>
</div>
