/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: Aldine;
  src: url(assets/Fonts/Aldine.ttf) format("truetype");
}

.mat-tooltip {
  white-space: pre-line;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.btn.btn-primary {
  background-color: #2476A7!important;
  border-color: #2476A7!important;
}

.btn.btn-primary:hover {
  background-color: #143C56!important;
  border-color: #143C56!important;
  transition: background-color 0.5s;
}

.btn.btn-outline-primary {
  background-color: white!important;
  color: #2476A7!important;
  border-color: #2476A7!important;
}

.btn.btn-outline-primary:hover {
  background-color: #2476A7!important;
  color: white!important;
  transition: all 0.5s;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: #5fba7d!important;
}

.mat-card-title > i.far, .mat-card-title > i.fas {
  color: #2476A7!important;
}

span.speech {
  background-color: #F5F5F5!important;
}

.routeHeader {
  font-family: 'Aldine', sans-serif;
  font-size: 1.5rem!important;
}

h5 {
  font-size: 1.05rem;
}

mat-expansion-panel mat-expansion-panel-header {
  height: auto!important;
  min-height: 48px!important;
}
mat-expansion-panel mat-expansion-panel-header.mat-expanded {
  height: auto!important;
  min-height: 64px!important;
}

mat-panel-description {
  width: 70%;
}

mat-panel-title {
  width: 30%;
  align-items: center;
}

mat-panel-description .mTitle {
  width: 50%;
  padding: 7px;
}

mat-panel-description .mUpdated {
  width: 40%;
}
mat-panel-description .mCheck {
  width: 10%;
}

.mat-dialog-content { max-width: 500px; }

.mat-badge-content {
  background-color: #2476A7!important;
}

.mat-badge-medium .mat-badge-content {
  width: 28px!important;
  height: 28px!important;
  line-height: 28px!important;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -15px!important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -15px;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden!important;
}

.mat-tab-body-content {
  overflow: hidden!important;
}

