<form [formGroup]="forgotForm">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username (email address)" formControlName="email" required>
        <mat-error *ngIf="email.getError('required')">
          Email is required.
        </mat-error>
        <mat-error *ngIf="email.getError('invalidEmail')">
          Invalid email address.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-8 offset-md-2 text-right button-cols">
      <button type="submit" class="submitBtn btn btn-lg" (click)="submit()" [disabled]="!forgotForm.valid">Submit</button>
    </div>
  </div>
</form>
