<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="archivedCB">
    <mat-checkbox [checked]="archived" (change)="archived = !archived; archived ? showArchived() : hideArchived()"><small style="color: gray">Archived Files</small></mat-checkbox>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-progress-bar mode="indeterminate" *ngIf="(!files && !archived) || (!archFiles && archived)"></mat-progress-bar>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="fileRef">
      <mat-header-cell *matHeaderCellDef mat-sort-header> File Ref </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fileRef}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cause of Action </mat-header-cell>
      <mat-cell *matCellDef="let element"><i class="fas fa-archive" *ngIf="element.archived"> </i>&nbsp;  {{element.milestoneList._id.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="secretary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Secretaries </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{secretaryString(element.refUser)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <small style="color: darkgrey">
          {{convertDate('yyyy/mm/dd', element.createdAt)}} <br>by {{element.createdBy?.name}}
        </small>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Updated </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <small style="color: darkgrey">
          {{convertDate('yyyy/mm/dd', element.updatedAt)}} <br>by {{element.updatedBy.name}}
        </small>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="fas fa-ellipsis-h" [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()"></i>
        <mat-menu #actionsMenu="matMenu">
          <button (click)="gotoEditFile(element._id)" mat-menu-item><i class="far fa-edit"></i> Edit</button>
          <button mat-menu-item (click)="archiveFile(element)"><i class="fas fa-archive"></i> {{element.archived ? 'Restore' : 'Archive'}}</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" (click)="getUploads(); getRequiredDocs();"
             [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl" [ngClass]="{'archived': row.archived}">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[100, 150, 200, 250]"></mat-paginator>
</div>

<ng-template #tpl let-element>
  <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
    <div class="row">
      <div class="col-12" style="min-height: 200px;">
        <mat-progress-bar mode="indeterminate" *ngIf="loaderService.isLoading | async"></mat-progress-bar>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="{{element.milestoneList._id.title}} Details">
            <br>
            <div class="contactsBox row">
              <div class="col-sm-12">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title><i class="fas fa-home"></i> {{element.milestoneList._id.title}} Details</mat-card-title>
                    <mat-card-subtitle>
                      <small style="white-space: pre-wrap;">{{element.propertyDescription}}</small><br>
                    </mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
            </div>
            <br>
          </mat-tab>
          <mat-tab label="Milestones">
            <br>
              <div class="row">
                <div class="milestonesBox col-12">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let milestone of element.milestoneList.milestones; let i = index"
                                         hideToggle (opened)="milestoneOpenState = true"
                                         (closed)="milestoneOpenState = false">
                      <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                        <mat-panel-title [style.text-decoration]="milestone.completed ? 'line-through' : 'none'"
                                         [style.text-decoration-color]="milestone.completed ? 'red' : ''">
                          Milestone {{i + 1}}
                        </mat-panel-title>
                        <mat-panel-description>
                          <span class="mTitle">{{ milestone._id.name }}
                            <small style="color: #1DA1F2">({{milestone.comments.length}} Comment{{milestone.comments.length > 1 || milestone.comments.length < 1? 's' : ''}})</small>
                            <small class="comment" *ngIf="milestone.comments.length > 0 && !milestoneOpenState">
                              <br/>
                              <span style="color:red">Last comment:</span>
                              <i class="fas fa-user-tie"></i> <span style="font-weight: bold; color: darkslategray"> {{milestone.comments[milestone.comments.length - 1]?.user?.name}}</span>
                              <div class="speech">
                                {{milestone.comments[milestone.comments.length - 1]?.comment}}<small style="color: #888888"> {{milestone.comments[milestone.comments.length - 1]?.timestamp | amTimeAgo}}</small>
                              </div>
                              <br>
                            </small>
                          </span>
                          <small class="mUpdated" style="color: darkgrey">
                            Last Updated: {{convertDate('dd/mm/yyyy', milestone.updatedAt)}} <br>by
                            {{milestone.updatedBy.name}}
                          </small>
                          <div class="mCheck">
                            <mat-checkbox
                              *ngIf="!milestone.completed" (click)="$event.stopPropagation()"
                              [checked]="milestone.completed" (change)="markMilestone($event, milestone, element, chbx)"
                              #chbx></mat-checkbox>
                          </div>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <h5 style="color: darkslategray">Comments: </h5>
                      <div class="comments" style="text-indent: 2em">
                        <span *ngIf="milestone.comments < 1">No comments to display</span>
                        <div class="comment" *ngFor="let c of milestone.comments">
                          <i class="fas fa-user-tie"></i> <span style="font-weight: bold; color: darkslategray"> {{c.user?.name}}</span>
                          <div class="speech">
                            {{c.comment}}
                            <small style="color: #888888"> {{c.timestamp | amTimeAgo}}</small>
                          </div>
                        </div>
                        <div class="milestoneComments">
                          <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                            <button class="btn btn-primary btn-sm saveButton" color="primary"
                                    (click)="addComment(milestone, i, element)">
                              <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-comment"></i> Add comment</span>
                              <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            <br>
          </mat-tab>
          <mat-tab label="Document Uploads" *ngIf="numUploads(element._id) > 0">
            <ng-template matTabLabel>
              <span matBadge="{{numUploads(element._id)}}" matBadgeOverlap="false">Document Uploads</span>
            </ng-template>
            <div class="row">
              <div class="col-12 milestonesBox">
                <mat-accordion>
                  <br>
                  <mat-expansion-panel *ngFor="let rd of element.requiredDocuments">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{rd.name}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <span style="color: #1DA1F2" class="mTitle">({{ rd.uploads.length }} Document{{rd.uploads.length > 1 || rd.uploads.length === 0 ? 's' : ''}})</span>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Preview</th>
                        <th>name</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let u of rd.uploads; let i = index">
                        <td nowrap>
                          <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'application'">
                            <i class="fas fa-file-{{docType(u.mimeType)}} fa-7x" style="color: #888888;"></i> <br>
                          </div>
                          <div *ngIf="u.mimeType.substring(0, u.mimeType.indexOf('/')) === 'image'">
                            <img [src]="u.path" style="height: 96px; border-radius: 4px;"> <br>
                          </div>
                        </td>
                        <td nowrap>{{  u.name  }} </td>
                        <td nowrap>
                          <button type="button" class="btn btn-primary btn-xs" (click)="downloadDoc(u)">
                            <i class="fas fa-file-download"></i> Download
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Summary Progress Report">
            <div class="row">
              <div class="col-12" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="row" *ngFor="let summary of element.summaries; let i = index;" style="width: 80%; margin-left: 10%;">
                  <div class="col-3">
                    <span style="font-weight: bold; color: dimgray"><i class="fas fa-user-tie"></i> &nbsp;{{summary.user.name}}</span>
                    <small style="color: #888888; float: right"> {{summary.timestamp | amTimeAgo}}</small>
                  </div>
                  <div class="col-9" style="background-color: #F5F5F5; padding: 0px 8px 0px 8px; color: darkslategrey; font-size: 15px;"
                       [ngStyle]="{'border-radius' : i === 0 ? '10px 10px 0px 0px' : i === element.summaries.length - 1 ? '0px 0px 10px 10px' : ''}">
                    <span>{{summary.summary}}</span>
                  </div>
                </div>
                <p class="text-center" *ngIf="element.summaries.length < 1" style="color: gray;">No summary added.</p>
                <button style="margin-left: 45%; margin-top: 20px;" class="btn btn-primary btn-sm saveButton" color="primary" (click)="addSummary(element)">
                  <span *ngIf="!(loaderService.isLoading | async)"><i class="fas fa-newspaper"></i> Add summary</span>
                  <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                </button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Contacts">
            <br>
              <div class="contactsBox row">
                <div class="col-sm-12 col-md-6 col-lg{{numCards(element)}}" *ngFor="let ct of element.contacts; let i = index">
                  <mat-card>
                    <i (click)="editContact(ct)" class="fas fa-user-edit float-right text-right" style="cursor: pointer; color: black"></i>
                    <mat-card-header>
                      <mat-card-title style="justify-content: space-between">
                        <i class="far fa-id-card"></i>
                        {{ct.name + ' ' + ct.surname}}
                      </mat-card-title>
                      <mat-card-subtitle>
                        <small><i class="fas fa-user-friends"></i> {{ct?.type}}</small><br>
                        <small *ngIf="ct?.email"><i class="far fa-envelope"></i> {{ ct?.email }}</small><br *ngIf="ct?.email">
                        <small *ngIf="ct?.cell"><i class="fas fa-phone-square"></i> {{ ct?.cell }}</small>
                      </mat-card-subtitle>
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>
            <br>
          </mat-tab>
          <mat-tab label="Entity" *ngIf="element.entity">
            <br>
              <div class="contactsBox row">
                <div class="col-sm-12">
                  <mat-card>
                    <i (click)="editEntity(element.entity)"  class="fas fa-edit float-right text-right" style="cursor: pointer; color: black"></i>
                    <mat-card-header>
                      <mat-card-title style="justify-content: space-between">
                        <i class="far fa-building"></i>
                        {{element.entity.name}}
                      </mat-card-title>
                      <mat-card-subtitle>
                        <small>
                          <i class="fas fa-map-marker-alt"></i> {{element.entity.address}} &nbsp;
                          <i class="fas fa-globe"></i> {{element.entity.website}}
                        </small>
                        <br>
                      </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="contactsBox row">
                        <div class="col-sm-12 col-md-6 col-lg{{numCards(element.entity)}}" *ngFor="let ct of element.entity.contacts; let i = index">
                          <mat-card>
                            <i (click)="editContact(ct)" class="fas fa-user-edit float-right text-right" style="cursor: pointer; color: black"></i>
                            <mat-card-header>
                              <mat-card-title style="justify-content: space-between">
                                <i class="far fa-id-card"></i>
                                {{ct.name + ' ' + ct.surname}}
                              </mat-card-title>
                              <mat-card-subtitle>
                                <small><i class="fas fa-user-friends"></i> {{ct?.type}}</small><br>
                                <small *ngIf="ct?.email"><i class="far fa-envelope"></i> {{ ct?.email }}</small><br *ngIf="ct?.email">
                                <small *ngIf="ct?.cell"><i class="fas fa-phone-square"></i> {{ ct?.cell }}</small>
                              </mat-card-subtitle>
                            </mat-card-header>
                          </mat-card>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            <br>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</ng-template>

