<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="archivedCB">
    <mat-checkbox [checked]="archived" (change)="archived = !archived; archived ? showArchived() : hideArchived()"><small style="color: gray">Show Archived</small></mat-checkbox>
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="fileRef">
      <mat-header-cell *matHeaderCellDef mat-sort-header> File Ref </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.fileRef}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cause of Action </mat-header-cell>
      <mat-cell *matCellDef="let element"><i class="fas fa-archive" *ngIf="element.archived"> </i>&nbsp;  {{element.milestoneList._id.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="secretary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Secretaries </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{secretaryString(element.refUser)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <small style="color: darkgrey">
          {{convertDate('yyyy/mm/dd', element.createdAt)}} <br>by {{element.createdBy?.name}}
        </small>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Updated </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <small style="color: darkgrey">
          {{convertDate('yyyy/mm/dd', element.updatedAt)}} <br>by {{element.updatedBy.name}}
        </small>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="fas fa-ellipsis-h" [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()"></i>
        <mat-menu #actionsMenu="matMenu">
          <!--<button mat-menu-item><i class="far fa-edit"></i> Edit</button>-->
          <button mat-menu-item (click)="archiveFile(element)"><i class="fas fa-archive"></i> {{element.archived ? 'Restore' : 'Archive'}}</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
             [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl" [ngClass]="{'archived': row.archived}">
    </mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[100, 150, 200, 250]"></mat-paginator>
</div>

<ng-template #tpl let-element>
  <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
    <div class="contactsBox row">
      <div class="col-sm-12 col-md-6 col-lg{{numCards(element)}}">
        <mat-card>
          <mat-card-header>
            <mat-card-title><i class="fas fa-home"></i> Property Description</mat-card-title>
            <mat-card-subtitle>
              <small style="white-space: pre-wrap;">{{element.propertyDescription}}</small><br>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg{{numCards(element)}}" *ngFor="let ct of element.contacts; let i = index">
        <mat-card>
          <mat-card-header>
            <mat-card-title><i class="far fa-id-card"></i> {{ct.name + ' ' + ct.surname}}</mat-card-title>
            <mat-card-subtitle>
              <small><i class="fas fa-user-friends"></i> {{ct?.type}}</small><br>
              <small><i class="far fa-envelope"></i> {{ ct?.email }}</small><br>
              <small><i class="fas fa-phone-square"></i> {{ ct?.cell }}</small>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="milestonesBox">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let milestone of element.milestoneList.milestones; let i = index" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title [style.text-decoration]="milestone.completed ? 'line-through' : 'none'"
                             [style.text-decoration-color]="milestone.completed ? 'red' : ''">
              Milestone {{i + 1}}
            </mat-panel-title>
            <mat-panel-description>
              {{ milestone._id.name }}
              <small style="color: darkgrey">
                Last Updated: {{convertDate('dd/mm/yyyy', milestone.updatedAt)}} <br>by {{milestone.updatedBy.name}}
              </small>
              <mat-checkbox
                *ngIf="!milestone.completed" (click)="$event.stopPropagation()"
                [checked]="milestone.completed" (change)="markMilestone($event, milestone, element._id, chbx)" #chbx></mat-checkbox>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <h5 style="color: darkslategray">Comments: </h5>
          <div class="comments" style="text-indent: 2em">
            <span *ngIf="milestone.comments < 1">No comments to display</span>
            <div class="comment" *ngFor="let c of milestone.comments">
              <i class="fas fa-user-tie"></i> <span style="font-weight: bold; color: darkslategray"> {{c.user?.name}}</span>
              <span class="speech">
                {{c.comment}}<small style="color: #888888"> {{c.timestamp | amTimeAgo}}</small>
              </span>
            </div>

            <div class="milestoneComments">
              <div class="btn-group" role="group" aria-label="action buttons" style="margin-top: 5px;">
                <button class="btn btn-primary btn-sm saveButton" color="primary" (click)="addComment(milestone, i, element._id)">
                  <span *ngIf="!(loaderService.isLoading | async)"><i class="far fa-comment"></i> Add comment</span>
                  <i *ngIf="loaderService.isLoading | async" class="fas fa-spinner fa-spin"></i>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-template>

